In [1]:
name = 'Gurkirpal'
age = 34
z = (f'{name} is {age} years old')
print(z)

Gurkirpal is 34 years old

In [2]:
z

'Gurkirpal is 34 years old'

In [3]:
z[-3]

'o'

In [4]:
z[4:17]

'irpal is 34 y'

In [5]:
z[::2]

'Gripli 4yasod'

In [6]:
z[2::]

'rkirpal is 34 years old'

In [7]:
ml = [1,2,3,'a','b','c']
ml

[1, 2, 3, 'a', 'b', 'c']

In [8]:
ml.append('d')
ml

[1, 2, 3, 'a', 'b', 'c', 'd']

In [9]:
ml[1] = 'New'
ml

[1, 'New', 3, 'a', 'b', 'c', 'd']

In [10]:
a = [1,1,1,2,3,4,4,455,5,5,6,7]
set(a)

{1, 2, 3, 4, 5, 6, 7, 455}

In [11]:
a = [1,2,3,4,5]
for num in a:
    print(num)

1
2
3
4
5

In [12]:
for num in range(1,11):
    print(num)
num = num + 1

1
2
3
4
5
6
7
8
9
10

In [13]:
i =1
while i < 5:
    print(i)
    i = i + 1

1
2
3
4

In [14]:
x = [1,2,3,4]

In [15]:
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [16]:
def num(z):
    print(z)

In [17]:
num('hello')

hello

In [18]:
def num(z):
    print(z + 'pal')

In [19]:
num('hello ')

hello pal

In [20]:
def sq(num):
    return num**2

In [21]:
sq(7)

49

In [22]:
x = []
z = range(1,6)
for num in z:
    x.append(num**2)
print(x)

[1, 4, 9, 16, 25]

In [23]:
t = lambda var : var**2

In [24]:
t(3)

9

In [25]:
s = 'my name is kirpal'
s.split()

['my', 'name', 'is', 'kirpal']

In [26]:
s.split('a')

['my n', 'me is kirp', 'l']

In [27]:
d = {'apples': 12, 'banana':23}

In [28]:
d.values()

dict_values([12, 23])

In [29]:
d.keys()

dict_keys(['apples', 'banana'])